body {
    background-color: rgb(44, 44, 44);
    font-family: "sans-serif";
    color: rgb(225, 225, 225);
}


.btn {
    font-weight: bold;
    box-shadow: 0 0 4px 4px rgb(33, 33, 33);
    outline: #63a6e9 solid 0px;
    color: rgb(225, 225, 225);
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(29, 150, 14);
    transition: all 0.1s ease;
}

.btn:hover {
    box-shadow: 0 0 6px 6px rgb(33, 33, 33);
    background-color: rgb(29, 200, 14)
}

.btn:focus {
    outline: #63a6e9 solid 2px;
}

.btn:active {
    background-color: rgb(29, 100, 14)
}

.btn:disabled,
.btn:hover:disabled,
.btn:active:disabled {
    outline: #63a6e9 solid 0px;
    background-color: rgb(151, 151, 151);
    color: rgb(100, 100, 100);
}


.input {
    margin-right: 5px;
    box-shadow: 0 0 4px 4px rgb(33, 33, 33);
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px;
    border-radius: 5px;
    outline: rgb(100, 100, 100) solid 0px;
    background-color: rgb(100, 100, 100);
    transition: all 0.1s ease;
}

.input:hover {
    box-shadow: 0 0 6px 6px rgb(33, 33, 33);
    background-color: rgb(120, 120, 120);
}

.input:focus {
    outline: #63a6e9 solid 2px;
    background-color: rgb(140, 140, 140);
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification {
    opacity: 0;
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: #ff0000;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
}

.notification:hover {
    background-color: #ff00008a;
    color: #ffffff8a;
}

.notification-appear {
    opacity: 1;
    right: 20px;
}

.notification-dissappear {
    opacity: 0;
    right: 0px;
}